<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Componnets</title>
        <link rel="stylesheet" href="/index.css">
</head>

<body>

        <section class="container1">
                <div class="text">Discover Premium Residences in Landmark Homes</div>
                <div class="image1"><img src="/Assets/image1.jpg" alt="image1"></div>
                <div class="badge">+EXPLORE PROPERTIES</div>
                <div class="arrow"></div>
        </section>

        <section class="navbar">
                <div class="navlogo">Nestora+ 1997</div>
                <nav>
                        <a href="#">PROPERTIES</a><a href="#">STUDIO</a><a href="#">PROCESS</a><a href="#">+ADD
                                PROPERTY</a>
                </nav>
        </section>


        <!-- <div class="container1">
            <div class="div1">  
                    Discover Premium Residences in Landmark Homes
            </div>
            <div class="div2">  
                    Discover Premium Residences in Landmark Homes
            </div>
        </div> -->

        <!-- <header></header>
        <nav></nav>
        <main></main>
        <section class="location"></section>
        <section class="reviews"></section>
        <section class="partnership"></section>
        <section class="contactusForm"></section>
        <footer></footer> -->
</body>

</html>